body, blockquote, img, iframe, video, div, table, tbody, tr, td, pre, code, blockquote, p, em, b, span {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
}

pre, code, blockquote {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}

body {
    font-size: 1em;
    font-weight: normal;
}

blockquote {
    padding: 5px;
    background-color: #eee;
}

blockquote > p {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: 5px;
    text-decoration: none;
}

.byline {
    font-size: 0.8em;
}
