body, blockquote, img, iframe, video, div, table, tbody, tr, td, pre, code, blockquote, p, em, b, span {
    max-width: 100% !important;
}

* {
    word-wrap: break-word !important;
}

body {
    font-size: 1em;
    font-weight: normal;
}

blockquote {
    padding: 5px;
    background-color: #eee;
}

blockquote > p {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: 5px;
    text-decoration: none;
}

.byline {
    font-size: 0.8em;
}

span.play {
    font-size: 3em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: black 0.1em 0.1em 0.2em
}

img.videothumb {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
}