language: android
android:
  components:
   - tools
   - build-tools-25.0.0
   - android-25
   - extra-android-m2repository

jdk:
   - oraclejdk8

cache:
   directories:
   - $HOME/.m2

script: ./gradlew check -x lint
