<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2015-2016 Daniel Schaal <daniel@schaal.email>
  ~
  ~ This file is part of OCReader.
  ~
  ~ OCReader is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ OCReader is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with OCReader.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->
<manifest package="email.schaal.ocreader"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="email.schaal.ocreader.OCReaderApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="false">
        <activity
            android:name="email.schaal.ocreader.ListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="email.schaal.ocreader.service.SyncService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name="email.schaal.ocreader.LoginActivity"
            android:label="@string/title_activity_login"/>
        <activity
            android:name="email.schaal.ocreader.ItemPagerActivity"
            android:label="@string/title_activity_item_pager"
            android:parentActivityName="email.schaal.ocreader.ListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="email.schaal.ocreader.ListActivity"/>
        </activity>
        <activity android:name="de.duenndns.ssl.MemorizingActivity"
            android:theme="@style/Theme.AppCompat.Light.Translucent.NoTitleBar" />
    </application>

</manifest>
